################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Pathoschild.Stardew.ModBuildConfig.2.2.0
/CustomGuildChallenges/bin
/CustomGuildChallenges/obj
/.vs/CustomGuildChallenges
/.vs/config
/CustomGuildChallenges/CustomGuildChallenges.csproj.user
/.vs/slnx.sqlite
/.vs/CustomSlayerChallenges/v16/.suo
/.vs/ProjectSettings.json
/.vs
